# Python
__pycache__/
*.pyc
.venv
venv

# VS Code
.vscode/

# Hemmeligheter
.env

# Conduit Core
output/
.conduit_state.json
.conduit_state.backup.json

# Test files 
test_aws_connection.py
test_csv_to_csv.yml

# log files
manifest.jsongoogle-cloud-sdk/
manifest.json
remove_emojis.py
build/
dist/
*.backup
test_schema.json
test_*.yml
src/conduit_core.egg-info/PKG-INFO
src/conduit_core.egg-info/
